@font-face {
  font-family: 'Avant Garde';
  src: url(../fonts/agb_v5.ttf) format('truetype');
}

@font-face {
  font-family: 'Copernicus Book';
  src: url(../fonts/Copernicus-Book.otf) format('opentype');
}

@font-face {
  font-family: 'Copernicus Book Italic';
  src: url(../fonts/Copernicus-BookItalic.otf) format('opentype');
}
